*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
    box-sizing: border-box;

}
.navbar img{
    width: 60px;
    border-radius: 50px;
}
li{
list-style: none;

}
li a{
    color:light rgba(4, 4, 92, 0.847);
}


.carousel-caption{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    top: 40%;
    left: 20%;

}
.carousel-caption h2{
  color:light rgba(4, 4, 92, 0.847);
}

section {
      padding: 60px 0;
    }
.about {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 30px;
      align-items: center;
    }
    
.about .img-hover {
  width: 300px;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.about .img-hover:hover {
  transform: scale(1.1) rotate(2deg);
  opacity: 0.8;
}
    
.about h1{
    color:rgb(4, 118, 175);
}
.about h3{
    color: rgb(4, 4, 179);
}




    
    section {
      padding: 60px 0;
    }
.services {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 25px;
    }
 .Hero-section{
    background: url("https://img.freepik.com/premium-photo/blue-background-with-glasses-it-blue-background_916191-267086.jpg");
    background-size: cover;
    height: 60vh;
    display: flex;
    align-items: center;
    padding: 40px 30px;


}
.hero-contanier h1{
    font-size: 80px;
    color:rgb(5, 51, 80);
    margin-bottom: 20px;
}
.services {
      display: flex;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 25px;
    }

    .card {
      background: #fff;
      padding: 25px;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
      text-align: center;
    }
    

    .card h3 {
      margin-bottom: 10px;
      color: #0a6cf1;
    }
    .vedio{
    background-color: info;
     height: 80vh;
}
.vedio-body {
    text-align: center;
    padding: 20px;
}
.vedio-title h1{
    text-align: center;
 
}
.process-title h1{
  color: darkblue;
}
.pro h2{
  color: darkblue;
}

.exp h1{
color:black;
}

.exp h2{
color:black;
}

.exp p{
color: black;
}

.member {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 30px;
      align-items: center;
    }
    

    
.member h1{
    color:rgb(4, 118, 175);
}
.member h3{
    color: rgb(4, 4, 179);
}
.hover-zoom {
  width: 300px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  cursor: pointer;
}

.hover-zoom:hover {
  transform: scale(1.1); /* Zooms in 10% */
  opacity: 0.8;
}